*{
    margin: 0;
    padding:0;
    }
body {
    text-align: center;
    background-color: rgb(185, 218, 218);
}
#clock_container {
    color: rgb(15, 117, 151);
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
h1 {
    color: rgb(56, 53, 192);
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clock_container>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clock_container div>span {
    padding: 15px;
    border-radius: 3px;
    background: rgb(202, 150, 150);
    display: inline-block;
}
.count {
    padding-top: 5px;
    font-size: 16px;
}