*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: rgb(250, 208, 208);
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}
.error
{
    color: red;
}
#subject
{
    height: 100px;
    margin-top: 5px;
    padding: 10px;
    border: none;
}
/* 
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    margin-top: 5px; } */

